.draggable {
    position: relative;
    /* resize: both; */
    left: 0;
    overflow: visible;
    /* overflow: auto; */
}


#drop_zone {
    border: 2px solid #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #d3d3d3;
    width: fit-content;
    transform: scale(1.5);
    /* margin: 50vh 50vw 50vh 50vw; */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body {
    /* width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin: 8px;
    padding: 10%;
    background-color: #2a2a2a;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.1s;
    position: relative;
    margin: 0px;
    /* margin: 10%; */
}

html {
    background-color: #202020;
    width: -webkit-fill-available;
    /* viewport width */
    height: -webkit-fill-available;
    /* viewport height */
    overflow: hidden;
}


/* html::-webkit-scrollbar {
    width: 0px; 
} */
.textbox {
    position: relative;
    overflow: hidden;
    height: 100% !important;
    width: 100% !important;
    /* padding: 8px; */
}

.textboxContainer {
    padding: 10px;
    display: flex;
}
.container {
    width: fit-content;
    height: fit-content;
    display: flex;
    /* border: 2px solid #5ea0e5; */
}

textarea {
    background-color: rgb(48 48 48 / 50%);
    color: #ebebeb;
    font-family: Roboto;
    border: 2px solid #242222;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 7px;
    font-size: 42px;
    outline: #3d3f48;
    /* outline-color: #3d3f48; */
    padding: 8px;
    resize: none;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0px 1px 1px #f2dede inset, 0px 0px 8px #dff0d8;
    outline: none;
    padding-top: 24px !important;
}

.close-button {
    position: absolute;
    top: 15px;
    z-index: inherit;
    /* right: -10px; */
    width: 30px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    background-color: transparent;
    color: red;
    /* border-radius: 7px solid; */
    border: transparent;
    cursor: pointer;
    display: none;
}
.close-button:hover {
    transform: scale(1.24);
}
.draggable:hover> .close-button, .container:hover > .close-button {
    display: block;
}
.font-Select {
    background-color: #2A2A2A;
    position: absolute;
    left: -30px;
    color: #7A7A7A;
    border: solid 1px black;
    width: 38px;
    height: 42px;
    font-size: 36px;
}

#grid-snap {
    border-radius: 4px;
    /* padding: 2%; */
    /* margin: 1rem 0 0 1rem; */
    position: absolute;
    background-color: #2a2a2a;
    touch-action: none;
    transition: width 0.05s ease, height 0.05s ease;
    /* transform: translate(0px, 0px) scale(1);
    display: flex;
    flex-wrap: wrap; */
    display: flex;
    flex-wrap: wrap;
}
.wrapper-grid {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    position: absolute;
    transform: translate(0px, 0px);
    justify-content: center;
}
.square {
    border: 2px solid #5ea0e5;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: white;
}
#boundingBox {
    border: 2px solid #5ea0e5;
    /* width: 500px;
    height: 500px; */
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: absolute;
    pointer-events:none;
    display: none;
    z-index: 100000;
    overflow: visible;
}
.boundingBox1 {
    border: 2px solid #5ea0e5;
    /* width: 500px;
    height: 500px; */
    height: max-content;
    width: max-content;
    position: absolute;
    pointer-events:none;
    display: flex;
    z-index: 100000;
}
.right-bound {
    height: inherit;
    width: 0.01px;
    position: absolute;
    left: 100%;
}

.handle-tl {
    top: -8px;
    left: -8px;
}

.handle-tm {
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.handle-ml {
    top: 50%;
    left: -8px;
    transform: translateY(-50%);
}

.handle-tr {
    top: -7px;
    right: -7px;
}

.handle-mr {
    top: 50%;
    right: -7px;
    transform: translateY(-50%);
}

.handle-bl {
    bottom: -7px;
    left: -8px;
}

.handle-bm {
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
}

.handle-br {
    bottom: -7px;
    right: -7px;
}
.player {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.player__controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%) translateY(-5px);
    transition: all .3s;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    align-items: center;
  }
  
  .player:hover .player__controls {
    transform: translateY(0) translateY(0px);
  }
  
  .player:hover .progress.vidPause {
    height: 15px;
    transition: height 0.2 ease-in-out;
  }
  
  .player__controls > * {
    flex: 1;
  }
  
  /* .progress {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 5px;
    transition: height 0.3s;
    background: rgba(0,0,0,0.5);
    cursor: ew-resize;
  }
  
  .progress__filled {
    width: 50%;
    background: #ffc600;
    flex: 0;
    flex-basis: 50%;
    transition: flex-basis 0.2s ease-out; 
  } */

  /* Styling for the progress bar */
.progress {
    width: 100%;
    height: 7px;
    appearance: none; 
    background: rgba(100, 100, 100, .5);
    border: none;
    position: relative;
    transition: height 0.2 ease-in-out;
    /* transition: value 0.2s ease-out; */
}
.progress::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: rgb(150, 150, 150);
    display: none;
}
.progress:hover::before {
    display: block;
}
.progress.scrubbing::before {
    display: none;
}

.progress::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: #ffc600;
}

/* progress[value]::-webkit-progress-value {
    background: #ffc600;
    transition: width 1s linear;
}

progress[value]::-moz-progress-bar {
    background: #ffc600;
} */
  
  /* unholy css to style input type="range" */


  /* input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(255,255,255,0.8);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  
  input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffc600;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    box-shadow:0 0 2px rgba(0,0,0,0.2);
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #bada55;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  
  input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffc600;
    cursor: pointer;
  } */

  

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 70%;
    background-color: #17171E;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .range_container {
    display: flex;
    flex-direction: column;
    height: 100px;
  }
  
  .range-sliders {
    position: relative;
    min-height: 50px;
    z-index: 2;
  }
  
  .form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #635a5a;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
    /* transform: translateX(-10px); */
    transition: transform 0.2s ease-out, opacity 0.2s ease-out; /* Add transition effect */
    z-index: 20;
  }
  
  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out; /* Add transition effect */
    z-index: 20;
  }
  
  input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
    transform: scale(1.3);
  }
  
  input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  }
  
  input[type="number"] {
    color: #8a8383;
    width: 50px;
    height: 30px;
    font-size: 20px;
    border: none;
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button {  
     opacity: 1;
  }
  
  input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 50px;
    width: 100%;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
  }
  /* Adjust the styles for the range input thumbs */
input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
    position: relative; /* Add this line */
    z-index: 2; /* Add this line */
}
/* Add hover and active styles for the thumbs */
input[type=range]::-webkit-slider-thumb:hover,
input[type=range]::-moz-range-thumb:hover {
    background: green;
}
.time-roller {
    display: flex;
    z-index: 20;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #1E1E29;
    /* border-top: 1px solid #ccc; */
    position: relative;
    margin-top: 20px;
    margin-bottom: 5px;
}

.time-roller span {
    flex: 1;
    text-align: left;
    position: absolute;
    transform: translateX(-50%);
    bottom: -5px;
    color: #8F8FA2;
}

/* Styles for the video frames */
.video-frames {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    /* border-top: 1px solid #ccc; */
    background-color: #1E1E29;
    transform: translateY(-66px);
}

.video-frame {
    flex: 1;
    text-align: center;
}
.time-tooltip {
    opacity: 0;
    position: absolute;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    border-radius: 10px;
    font-size: 0.9em;
    white-space: nowrap;
    transform: scale(0.7) translateY(-100%) translateY(-10px); /* Starting scale */
    transition: transform 0.2s ease-out, opacity 0.2s ease-out; /* Add transition effect */
}

/* State of tooltip when hovering over the thumb */
input[type="range"]::-webkit-slider-thumb:hover + .time-tooltip{
    transform: scale(1) translateY(-100%) translateY(-10px); /* Scale it up to original size on hover */
    opacity: 1; /* Set to visible */
}
.slider-track {
    /* z-index: 10; */
    background-color: transparent;
    height: 50px;
    border: 5px solid white;
    border-radius: 8px;
    left: 0%;
    width: 100%;
    position: absolute;
}
.video-frame {
    flex: 1;
    text-align: center;
    width: 100px;   /* Adjust based on your requirements */
    height: 56px;   /* Adjust based on your requirements */
    background-size: cover; 
    background-position: center;
}

.confirm-button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#confirmTrimButton {
    background-color: rgba(50, 100, 254, 0.8); /* A slightly transparent blue */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    outline: none;
}

#confirmTrimButton:hover {
    background-color: rgba(50, 100, 254, 1); /* A brighter blue on hover */
    transform: scale(1.05); /* Slightly enlarge the button */
}

#confirmTrimButton:active {
    background-color: rgba(30, 80, 234, 1); /* A slightly darker blue for the active state */
    transform: scale(1); /* Return the button to its original size */
}
