.draggable {
    position: relative;
    /* resize: both; */
    left: 0;
    overflow: auto;
}


#drop_zone {
    border: 2px solid #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #d3d3d3;
    width: fit-content;
    transform: scale(1.5);
    /* margin: 50vh 50vw 50vh 50vw; */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body {
    /* width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin: 8px;
    padding: 10%;
    background-color: #2a2a2a;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.1s;
    position: relative;
    margin: 0px;
    /* margin: 10%; */
}

html {
    background-color: #202020;
    width: -webkit-fill-available;
    /* viewport width */
    height: -webkit-fill-available;
    /* viewport height */
    overflow: hidden;
}


/* html::-webkit-scrollbar {
    width: 0px; 
} */
.textbox {
    position: relative;
    overflow: hidden;
    height: 100% !important;
    width: 100% !important;
    /* padding: 8px; */
}

.textboxContainer {
    padding: 10px;
    display: flex;
}
.container {
    width: fit-content;
    height: fit-content;
}

textarea {
    background-color: rgb(48 48 48 / 50%);
    color: #ebebeb;
    font-family: Roboto;
    border: 2px solid #242222;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 7px;
    font-size: 42px;
    outline: #3d3f48;
    /* outline-color: #3d3f48; */
    padding: 8px;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0px 1px 1px #f2dede inset, 0px 0px 8px #dff0d8;
    outline: none;
    padding-top: 24px !important;
}

.close-button {
    position: absolute;
    top: 15px;
    z-index: inherit;
    /* right: -10px; */
    width: 30px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    background-color: transparent;
    color: red;
    /* border-radius: 7px solid; */
    border: transparent;
    cursor: pointer;
    display: none;
}
.close-button:hover {
    transform: scale(1.24);
}
.draggable:hover> .close-button, .container:hover > .close-button {
    display: block;
}

#grid-snap {
    border-radius: 4px;
    /* padding: 2%; */
    /* margin: 1rem 0 0 1rem; */
    position: absolute;
    background-color: #2a2a2a;
    touch-action: none;
    transition: width 0.05s ease, height 0.05s ease;
    /* transform: translate(0px, 0px) scale(1);
    display: flex;
    flex-wrap: wrap; */
    display: flex;
    flex-wrap: wrap;
}
.wrapper-grid {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    position: absolute;
    transform: translate(0px, 0px);
}
.square {
    border: 2px solid #5ea0e5;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: white;
}
#boundingBox {
    border: 2px solid #5ea0e5;
    width: 500px;
    height: 500px;
    position: absolute;
    pointer-events:none;
    display: none;
    z-index: 100000;
}
.right-bound {
    height: inherit;
    width: 0.01px;
    position: absolute;
    left: 100%;
}